h1{
    color: indigo;
    background-color: hotpink;
}

body{
    background-color: mediumorchid;
}
p{
    color: aliceblue;
}
.pie{
    color: black;
}

#art1{
    background-color:darkmagenta
}
#tit{
    background-color: lightpink;
}
footer{
    background-color: rgb(151, 72, 131);
}